body{
  overflow-y: scroll;
}
.wrapper{
  display: flex;
  padding-bottom: 200px;
  width: 1000px;
  overflow: hidden;
}
.logo{
  margin-left: 200px;
  margin-right: 50px;
  padding-bottom: 200px;
  background-image: image_url('photo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
  background-position: right;
  background-color:  white;
}
.form-signupform-container{
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.no-account{
  border: 1px solid #e6e6e6;
  margin-top: 510px;
  margin-left: 8px;
  width: 379px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  position: absolute;
  line-height: 14px;
  color: #262626;
  font-size: 14px;
}
.account-text{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: white;
}
#instagram{
  margin-top: 10px;
  font-family: 'Cookie', cursive;
  font-size: 75px;
  background-color: white;
  padding-bottom: 20px;
}
.signup-link{
  color: rgba(var(--h5f,56,151,240),1);
  background-color: white;
}
.username-input{
  border: 1px solid #e6e6e6; 
  margin-bottom: 20px;
  padding: 8px 80px 8px 2px;
}
.username-input::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
}
.email::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
}
.username-password::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
}
.login-button{
    background-color: rgba(var(--h5f,56,151,240),1);
    color: rgba(var(--eca,255,255,255),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 105px 5px 105px;
}

.demo-login-button{
    background-color: rgb(74, 209, 74);
    color: rgba(var(--eca,255,255,255),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 84px 5px 84px;
    margin-top: 10px;
    

}
.errors-list{
  color: red;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  background-color: white;
}

.errors-list li{
  background-color: white;
}
.sign-up-wrapper{
  display: flex;
  justify-content: center;
}
.form{
  width: 379px;
  margin-top: 110px;
  height: 379px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  border: solid 1px #dbdbdb;
} 
.sign-up-description{
  color: #999;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  margin: 0 40px 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.signup-form{
  width: 379px;
  margin-top: 110px;
  height: 400px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  border: solid 1px #dbdbdb;
}
#instagram-signup{
  font-family: 'Cookie', cursive;
  font-size: 75px;
  background-color: white;
  display: flex;
  justify-self: flex-start;
  padding-top: 20px;
}
.have-account{
  border: 1px solid #e6e6e6;
  margin-top: 530px;
  margin-left: 8px;
  width: 379px;
  background-color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  position: absolute;
  line-height: 14px;
  color: #262626;
  font-size: 14px;
}
.sign-up-button{
    background-color: rgba(var(--h5f,56,151,240),1);
    color: rgba(var(--eca,255,255,255),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    padding: 5px 9px;
    padding-right: 90px;
    padding-left: 90px;
    text-align: center;
}

.top-nav {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding-bottom: 7px;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    height: 75px;
}
.camera-pic{
    background-image: image_url('insta.png');
background-size: 100% 100%;
    height: 30px;
    width: 30px;
    left: 10%;
    margin-top: 24px;
    background-color: white;
    cursor: pointer;
    position: relative;
}
.vl{
border-left: 1px solid gray;
    height: 30px;
    margin-top: 25px;
    position: RELATIVE;
    left: 12%;
}
.instatext{
font-family: 'Cookie', cursive;
    background-color: #fff;
    font-size: 35px;
    margin-top: 22px;
    position: relative;
    cursor: pointer;
    left: 14%;
}
.search-text-area {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    height: 25px;
    margin-top: 30px;
    left: 29%;
    position: relative;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.add-photo-link{
    font-size: 30px;
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    left: 49%;

}
.profile-link{
font-size: 30px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    cursor: pointer;
    left: 52%;

}


.nav-log-out-cog{
    font-size: 30px;
    color: black;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    left: 55%;
    margin-top: 30px;
}

.outer-photo-feed-photo-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: rgb(250, 250, 250);
}
.photo-feed-photo-wrapper{
    border: 1px solid #e6e6e6;
    width: 550px;
    background-color: white;
    margin-bottom: 50px;
}

.photo-feed-user-profile-picture{
      display: block;
    height: 40px;
    width: 40px;
    top: 7%;
    border: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
}

.photo-feed-user-profile-picture:hover{
  cursor: pointer; 
}

.photo-feed-username-profile-picture-wrapper{
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0px 10px 10px;
}
.photo-feed-username{
  font-family: 'Signika', sans-serif;
    font-weight: bolder;
    position: relative;
    left: 3%;
    margin-top: 10px;
}

.photo-feed-username:hover{
  cursor: pointer;
}

.photo-feed-image{
   display: block;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.photo-feed-heart-logo{
background-color: rgba(0, 0, 0, 0);
    font-size: 25px;
    position: relative;
    left: 3%;
    padding-top: 5px;
    padding-right: 10px;
}
.photo-feed-comment-logo{
background-color: rgba(0, 0, 0, 0);
    font-size: 25px;
    position: relative;
    left: 4%;
}
.photo-feed-photo-comments-wrapper{
 list-style: none;
  height: 100px;
  background-color: white;
}
.photo-feed-photo-comments{
  display: flex;
  padding-left: 3px;
}
.view-all-comments-button{
padding-left: 17px;
    padding-bottom: 2px;
    color: gray;
}
.comment-username{
    display: flex;
    font-family: 'Signika', sans-serif;
    margin-left: 5px;
    font-size: 16.5px;
    background-color: white;
    padding-left: 10px;
}


.border-between-profile-info-and-images{
    border-top: 1px solid #e6e6e6;
    width: 73.5%;
    margin-left: 14%;
}
.posts-grid-square{
position: relative;
    display: flex;
    justify-content: center;
    line-height: 0;
    margin-top: 20px;
}
.posts-text{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  margin-top: 8px;
  padding-left: 6px;
  color: rgb(53, 48, 48)
}

.profile-info-wrapper{
  display: flex;
    flex-direction: row;
    height: 230px;
}
.no-profile-pic{
  background-image: image-url('user.png');
background-size: 100% 100%;
    width: 120px;
    height: 120px;
    display: block;
    top: 20%;
    position: relative;
    background-color: white;
    left: 20%;
}

.profile-picture-photo{
object-fit: cover;
    margin-top: 60px;
    left: 20%;
    border: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.username-edit-gear-wrapper{
  display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    margin-top: 75px;
    width: 30.5%;
}
.current-user-username{
    font-family: 'Martel Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    height: 40px;
    position: relative;
    top: -5px;
    width: 170px;
}
.edit-profile-button{
border: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
    padding: 5px 10px 7px 10px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    height: 18px;
    margin-right: 10px;
    position: relative;
    margin-top: -7px;
}

.add-profile-button{
border: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
    padding: 5px 10px 9px 10px;
    font-size: 14px;
    height: 16px;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    left: 3%;
    margin-top: -7px
}
.follow-button{
background-color: rgba(var(--h5f, 56, 151, 240), 1);
    color: rgba(var(--eca, 255, 255, 255), 1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
}
.following-button{
  border: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    height: 16px;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    left: 3%;
    margin-top: -7px;
    font-weight: bolder;
}

.posts-followers-following-flex-container{
    display: flex;
    justify-content: space-between;
    top: 28%;
    left: 39%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-items: baseline;
}
.posts-followers-following-font{
    font-family: 'Martel Sans', sans-serif;
}
.biography-flex-container{
display: flex;
    margin-top: 20px;
}
.current-user-biography{ 
    top: 36%;
    left: 40.2%;
    font-family: 'Roboto', sans-serif;
}
.popup{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup-content{
  height: 60px;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  background-color:  none;
}
.pop-up-delete-button{
  position: relative;
  height:25px;
  width: 100%;
  background-color:  rgba(0,0,0,0);
  text-align: center;
  border-bottom: 1px solid rgba(var(--d0b,219,219,219),1);
  padding-top: 5px;
  cursor: pointer;
}
.cancel{
  position: relative;
  height:25px;
  width: 100%;
  background-color:  rgba(0,0,0,0);
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}
///images

.flex-wrap-photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-container{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 3%;
  justify-content: center;
}
.show-page-images{
  margin: 15px;
  width:295px;
  height: 295px;
  -webkit-transition: all 0.1s ease;
   -moz-transition: all 0.1s ease;
   -o-transition: all 0.1s ease;
   -ms-transition: all 0.1s ease;
   transition: all 0.1s ease
}
.show-page-image-li{
  overflow: hidden;
    height: 320px;
    width: 320px;
}

.show-page-images:hover{
  cursor: pointer;
   -webkit-filter: brightness(80%);
   transition: 0.5s;
   filter: brightness(80%);
}

.show-page-image-comment-hover{
  display: none;
    position: relative;
    left: 15px;
    bottom: 310px;
    height: 295px;
    width: 295px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.comment-logo{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 30px;
}

.show-page-images:hover + .show-page-image-comment-hover, .show-page-image-comment-hover:hover{///TARGET THIS BROTHER
  display: flex;
  cursor: pointer;
  
}
.photo-comments-length{
  color: white; 
  font-size: 20px;
  padding-left: 15px;
  padding-top: 5px;
}
///add photos
.add-profile-wrapper{
  height: 1000px;
  display: flex;
  flex-direction: column;
  background-color:  rgba(var(--b3f,250,250,250),1);
}
.add-form{
 display: block;
  margin: auto;
  width: 70%;
  height: 650px;
  background-color: white;
  margin-top: 30px;
  padding-top: 10%;
  border: 1px solid lightgray;
}
.add-photo-text{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 80px;
    text-align: center;
    background-color: white;
    font-size: 25px;
}
.image-preview{
  height:340px;
  width: 400px;
  position: absolute;
  left: 34%;
  border: 1px solid black;
  top: 33%;
  border: 1px solid lightgray;
}
.image-preview > img{
  height:340px;
  width: 100%;
}
.choose-file-button{
    position: absolute;
    left: 42%;
    bottom: 15%;
    background-color: white;
}
.preview-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top:55%;
  height:120px;
  background-color: white;
}
.caption-textarea{
 background-color: white;
  border: 1px solid lightgray;
  align-content: right;
  background: url(images/benice.png) center center no-repeat; 
  outline: none;
  width: 400px;
  height: 100px;
}
.add-photo-submit{
     background-color: rgba(var(--h5f,56,151,240),1);
    color: rgba(var(--eca,255,255,255),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    padding: 10px 8px 8px 10px;
     border-radius: 3px;
     margin-top: 20px;
     right: 1%;
}

//edit form

.edit-profile-wrapper{
  height: 1000px;
  display: flex;
  flex-direction: column;
  background-color:  rgba(var(--b3f,250,250,250),1);
}
.edit-form{
  margin: auto;
  width: 70%;
  height: 400px;
  background-color: white;
  margin-top: 30px;
  padding-top: 10%;
  border: 1px solid lightgray;
}
.edit-form input, .edit-form textarea{
  background-color: white;
  border: 1px solid lightgray;
  align-content: right; 
}
.edit-profile-text{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 80px;
    text-align: center;
    background-color: white;
}
.edit-form-username{
  font-family: 'Martel Sans', sans-serif;
  text-align: center;
  position: relative;
  bottom: 75px;
  background-color: white;
}
.email-edit-label{
  margin-left: 27px;
   margin-bottom:30px;
   background-color: white;
}
.form-input-element{
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-input-field-wrapper-edit{
  position: relative;
  bottom: 50px;
  background-color: white;
}
.username-edit-label{
  margin-bottom:30px;
  background-color: white;
}
.bio-edit-label{
     margin-bottom: 30px;
    margin-left: 40px;
    padding-right: 10px;
    background-color: white;

}
.edit-username-input{
      margin-bottom:20px;
      margin-left: 20px;
      background-color: white;
}
.edit-email-input{
   margin-bottom:20px;
  margin-left: 20px;
}
.bio-edit-textarea{
  margin-bottom: 20px;
    margin-left: 10px;
    width: 150px;
    padding-right: 11px;
}
.form-input-element{
  background-color: white;
}
.flex-update-user-info-button{
   display:flex;
   justify-content: center;
   background-color: white;
}
 .update-user-info-button{
    background-color: rgba(var(--h5f,56,151,240),1);
    color: rgba(var(--eca,255,255,255),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    padding: 10px 8px 8px 10px;
    border-radius: 3px;
    margin-right: 7px;
 }
 .edit-profile-pic{
  background-image: image-url('user.png');
  background-size: 100% 100%;
  width:140px;
  height:140px;
  left: 42%;
  position: relative;
  bottom: 18%;
  background-color: white;
 }

 .edit-new-profile-pic-wrapper{
  height:140px;
  width:140px;
  border: 1px solid black;
  left: 42%;
  position: relative;
  bottom: 18%;
  background-color: white;
  border-radius: 50%;
   border: 1px solid #e6e6e6;
   overflow: hidden;
 }

 .edit-profile-picture-photo{
  background-color: white;
  height: 100%;
  width: 100%;
}

 .choose-profile-picture-file-button{
   position: relative;
   left:36%;
   top:-15px;
   background-color: white;
 }

 .edit-profile-picture-text{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 20%;
    text-align: center;
 }
 .show-photo-wrapper{
    width: 70%;
    display: flex;
    margin: auto;
    background-color: white
 }
 .photo-wrapper{
    display: flex;
    /* width: 1000px; */
    vertical-align: top;
    background-color: white;
    margin-top: 30px;
    border: 1px solid #e6e6e6;
 }

  .show-profile-picture-wrapper{
   height: 10%;
   display: flex;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  width: 350px;
 }

 .no-profile-pic-show{
  background-image: image-url('user.png');
   background-size: 100% 100%;
   width: 40px;
   height: 40px;
   background-color: white;
 }


 .show-profile-photo-wrapper-show{
   height: 40px;
    width: 40px;
    top: 7%;
    left: 20%;
    border: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
 }

.profile-picture-photo-show{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.show-profile-username{
  font-family: 'Signika', sans-serif;
    font-weight: bolder;
    position: relative;
    left: 5%;
    height: fit-content;
    top: 30%;
    background-color: white;
}
.description{
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    background-color: white;
 }
.show-profile-username-description{
  font-family: 'Signika', sans-serif;
    font-weight: bolder;
    position: relative;
    height: fit-content;
    top: 17%;
    background-color: white;
    padding-left: 5px;
}
.show-profile-username-description:hover{
  cursor: pointer;
}

.photo-description{
    font-family: 'Martel Sans', sans-serif;
    position: relative;
    height: fit-content;
    top: 17%;
    background-color: white;
    font-size: 13px;
    padding-left: 5px;

}
  .show-photo{
  width: 500px;
  height: 500px;
  border-right: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
 }

 .user-comments-wrapper{
   height: 350px;
  overflow-y: auto;
  background-color: white;
 }
 .comment-username-wrapper{
  display: flex;
  font-family: 'Signika', sans-serif;
  margin-left: 5px;
  font-size: 16.5px;
  background-color: white;
 }
  .comment-username:hover{
   cursor: pointer;
 }
 .comment-body{
  padding-left: 5px;
  font-size: 13px;
  font-family: 'Martel Sans', sans-serif;
    background-color: white;
 }

.comment-form-input{
  height: 73px;
  border-top: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
  display: flex;
  background-color: white;
 // border-bottom: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
}

.comment-input-wrapper{
  display: flex;
  width: 88%;
  margin-left: 10px;
}

.comment-form-button{
  background-color: white;
  color: rgba(var(--h5f,56,151,240),0.5); 
}
.comment-form-button:hover{
  background-color: white;
  color: rgba(var(--h5f,56,151,240),1); 
}


