.wrapper{
  display: flex;
  padding-bottom: 200px;
  width: 1000px;
  overflow: hidden;
}
.logo{
  margin-top: 100px;
  margin-left: 200px;
  padding-bottom: 200px;
  background-image: image_url('photo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 600px;
  background-position: right;
  background-color:  rgba(var(--b3f,250,250,250),1);
}

.login-form{
  display: flex;
  flex-direction: column;
   align-items: center;
   background-color: white;
}
.form-signupform-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  width: 379px;
  margin-top: 110px;
  height: 379px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
} 

.noAccount{
  border: 1px solid #e6e6e6;
  margin-top: 500px;
  margin-left: 8px;
  width: 379px;
 // background-color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  position: absolute;
  line-height: 14px;
  color: #262626;
  font-size: 14px;
}
.account-text{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: white;
}

#instagram{
  margin-top: 10px;
  font-family: 'Cookie', cursive;
  font-size: 75px;
  background-color: white;
  display: flex;
  justify-self: flex-start;
  padding-bottom: 20px;
}

.signup-link{
  color: rgba(var(--h5f,56,151,240),1);
}


.username-input{
  border: 1px solid #e6e6e6; 
  margin-bottom: 20px;
  padding-right: 80px;
  padding-left: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.username-input::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
}

.email::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
}
.username-password::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
}


.loginButton{
    background-color: rgba(var(--h5f,56,151,240),1);
    color: rgba(var(--eca,255,255,255),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;

    cursor: pointer;
    font-weight: 600;
    padding: 5px 9px;
  
    padding-right: 105px;
    padding-left: 105px;
}

.errors-list{
  color: red;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  background-color: white;
}

.sign-up-wrapper{
  display: flex;
  justify-content: center;
}

.form{
  width: 379px;
  margin-top: 110px;
  height: 379px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
} 

.signup-form{
  width: 379px;
  margin-top: 110px;
  height: 400px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
}
.sign-up-description{
  color: #999;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  margin: 0 40px 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

#instagram-signup{
  font-family: 'Cookie', cursive;
  font-size: 75px;
  background-color: white;
  display: flex;
  justify-self: flex-start;
  padding-top: 20px;

}

.haveAccount{
  border: 1px solid #e6e6e6;
  margin-top: 530px;
  margin-left: 8px;
  width: 379px;
  background-color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  position: absolute;
  line-height: 14px;
  color: #262626;
  font-size: 14px;
}

.sign-up-button{
    background-color: rgba(var(--h5f,56,151,240),1);
    color: rgba(var(--eca,255,255,255),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    padding: 5px 9px;
    padding-right: 90px;
    padding-left: 90px;
    text-align: center;
}
.top-nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: 1px solid #e6e6e6;
}

.camera-pic{
    background-image: image_url('insta.png');
    background-size: 100% 100%;
    position: absolute;
    height: 30px;
    width: 30px;
    margin-top: 24px;
    margin-left:160px;
    background-color: white;
}
.vl{
    border-left: 1px solid gray;
    height: 30px;
    position: absolute;
    margin-top: 25px;
    margin-left: 205px;
}

.instatext{
  font-family: 'Cookie', cursive;  
  background-color: #fff;
  font-size: 35px;
  margin-top: 22px;
  padding-left: 30px;
}
.search-text-area{
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  height: 25px;
  margin-top: 30px;
  text-align: center;
 // border-color: #e6e6e7;
  font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.compass-heart-link-profile-link-wrapper{
  display: flex;
  background-color: white;
  margin-right: 150px;
  justify-content: space-evenly;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 14px;
}

.compass{
  background-image: image_url('compass.png');
  height: 40px;
  width:40px;
  background-color: white;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 5px;
 // margin-left: 150px;
}

.heart-link{
  background-image: image-url('heart1.png');
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-color: white;
    margin-left: 5px;
}
.profile-link{
  background-image: image-url('profiler.png');
  height: 40px;
  width: 40px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-color: white;
    margin-left: 5px;
}